[poc-rhel-7-server-rpms]
name=poc-rhel-7-server-rpms
baseurl=http://{ content-server-ip }/repos/rhel-7-server-rpms
enabled=1
gpgcheck=1

[poc-rhel-7-server-extras-rpms]
name=poc-rhel-7-server-rpms
baseurl=http://{ content-server-ip }/repos/rhel-7-server-extras-rpms
enabled=1
gpgcheck=1

[poc-rhel-7-server-ose-3.11-rpms]
name=poc-rhel-7-server-3.11-rpms
baseurl=http://{ content-server-ip }/repos/rhel-7-server-ose-3.11-rpms
enabled=1
gpgcheck=1

[poc-rhel-7-server-ansible-2.6-rpms]
name=poc-rhel-7-server-ansible-2.6-rpms
baseurl=http://{ content-server-ip }/repos/rhel-7-server-ansible-2.6-rpms
enabled=1
gpgcheck=1



